* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

* a:hover{
  color: #fff;
  text-decoration: none;
}

* ul{
  margin: 0;
}

:root{
  --white: #fff;
  --red: hsl(12, 88%, 59%);
  --blue: hsl(228, 39%, 23%);
  --grayishblue: hsl(227, 12%, 61%);
  --darkblue: hsl(233, 12%, 13%);
  --palered: hsl(13, 100%, 96%);
  --lightgray: hsl(0, 0%, 98%);
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Be Vietnam', sans-serif;
  font-size: 16px;
  overflow-x: hidden;
}

body.modal-open{
  overflow: hidden;
}